<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="netflix.dao.RatingModelDao">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
      INSERT INTO t_user_rating
        (
			userId,movieId,rating
		)
      VALUES
      	(
			#{userId},#{movieId},#{rating}
      	)
    ]]>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO t_user_rating
        (
        userId,movieId,rating
        )
        VALUES
        <foreach collection="list" item="item" open="" separator="," close="">
            (
            #{item.userId},#{item.movieId},#{item.rating}
            )
        </foreach>
    </insert>

    <select id="selectMovieIdsByuserId" resultType="java.lang.Integer" parameterType="int">
        SELECT movieId FROM t_user_rating WHERE  userId=#{userId} ORDER BY rating DESC LIMIT #{limit};
    </select>

    <select id="selectUserIdsByMovieId" resultType="java.lang.Integer" parameterType="int">
        SELECT userId FROM t_user_rating WHERE movieId=#{movieId} ORDER BY rating DESC LIMIT #{limit};
    </select>

    <select id="selectRatingByuserIdAndMovieid" resultType="java.lang.Integer" >
       SELECT rating FROM t_user_rating WHERE movieId=#{userId} AND movieId =#{movieId};
    </select>

    <select id="selectAllUserId" resultType="java.lang.Integer" >
        SELECT userId FROM `t_user_rating` GROUP BY userId;
    </select>

    <select id="selectAllMoviesByOneUser" resultType="java.lang.Integer" parameterType="int">
        SELECT movieId FROM t_user_rating WHERE  userId=#{userId} ;
    </select>
</mapper>